.chat {
  margin: auto;
  width: fit-content;
}

.chat__info{
  display: flex;
  margin-bottom: 20px;
}

.message-contain{
  border: 3px solid #607d8b;
  width: 600px;
  height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding-bottom: 10px;
}

.activity-contain{
  margin-left: 30px;
  border: 3px solid #a3e21d;
  width: 300px;
  text-align: center;
  border-radius: 14px;
}

.messageReceaved {
  background:#9fbad2;;
  color: white;
}

.messageText {
  padding: 4px 20px;
  width: max-content;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  
}

.messageSent {
  align-self: flex-end;
  background-color:#b0bbb0;
  color: white;
  margin-right: 5px;
}

.userName, .message {
  border-style: none;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 8px;
  margin-right: 5px;
}

.btn {
  background: #607d8b;
  border-style: none;
  border-radius: 4px;
  color: white;
  outline: none;
  padding: 9px 26px;
}

.userType {
  font-size: 20px;
  display: block;
}

.name {
  margin-right: 12px;
  color: darkslategray;
  font-size: 24px;
}

.active {
  font-size: 14px;
  color: darkslategray;
}

.activeUser {
  font-size: 24px;
  color: #607d8b;
}
